---
title: 'Gorilla'
---
<!DOCTYPE html>
<html class="leading-tight text-gray-900 antialiased" lang="en">
<head>

</head>
<body class="min-h-screen bg-white" data-env="{{ node.env }}">

<header>

</header>

<main>

  <section id="heroCarousel">
    <!-- hero image with text box in left area are of image -->
    <div class="relative">
      <div class="absolute inset-0 z-10 flex items-center justify-center w-full h-full bg-black bg-opacity-50">
        <div class="px-4 text-center">
          <h1 class="text-4xl font-bold leading-tight text-white">Gorilla</h1>
          <p class="mt-4 text-lg text-white">Gorilla is a powerful, flexible, and fast static site generator.</p>
        </div>
      </div>
      <img class="object-cover w-full h-96" src="https://cdn11.bigcommerce.com/s-hdv47k0cwe/images/stencil/1277w/carousel/3/Carrousel1.png?c=1" alt="Gorilla">
  </section>


</main>



<footer>

</footer>


<script type="module" src="/main.js"></script>
</body>
</html>
