---
layout: 'layouts/layout.html'
title: 'Home'
---
<main id="main-content" tabindex="-1" x-data="costCalculator">
  <div class="mx-auto max-w-4xl">
    <h1 class="my-8 text-3xl font-bold leading-tight text-gray-900">
      Cost Calculator
    </h1>
  </div>
  <div class="mx-auto max-w-4xl">

    <div class="flex gap-8">
      <div class="w-full md:w-1/2">

        {% include "partials/tuition-wizard/program-types.njk" %}
          {% include "partials/tuition-wizard/early-childhood.njk" %}
            {% include "partials/tuition-wizard/preschool.njk" %}
            {% include "partials/tuition-wizard/kindergarten.njk" %}
          {% include "partials/tuition-wizard/lower-school.njk" %}
          {% include "partials/tuition-wizard/high-school.njk" %}
          {% include "partials/tuition-wizard/summer-camp.njk" %}

      </div>
      <div class="w-full md:w-1/2">

        <div class="overflow-hidden bg-white shadow sm:rounded-lg">
          <div class="text-sm px-4 py-5 sm:px-6">
            <div class="w-full font-bold" x-html="selectedProgramText"></div>
            <div class="w-full -ml-3 font-bold" x-html="selectedScheduleText"></div>
          </div>

          <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <dl class="sm:divide-y sm:divide-gray-200">
              <div class="flex justify-between  px-4 py-5 sm:px-6">
                <div class="w-1/2">
                  <p class="text-base">Comprehensive tuition</p>
                  <p class="text-xs text-gray-500">Includes all Facilities and Supply Fees, Class trips and sports fees.
                    Instrument rentals and lessons not included in tuition.</p>
                </div>
                <div class="font-bold text-sm" x-html="tuition"></div>
              </div>
              <div class="flex justify-between  px-4 py-5 sm:px-6">
                <div class="w-1/2">
                  <p class="text-base">12 Monthly payments</p>
                  <p class="text-xs text-gray-500">Amount shown reflects tuition deposit.
                    Exact monthly payment amount will vary. </p>
                </div>
                <div class="font-bold text-sm" x-text="monthly"></div>
              </div>
              <div class="flex justify-between  px-4 py-5 sm:px-6">
                <div class="w-1/2">
                  <p class="text-base">Enrollment deposit</p>
                  <p class="text-xs text-gray-500">Due when the Enrollment Contract is signed. Applied in full toward tuition.  </p>
                </div>
                <div class="font-bold text-sm" x-text="enrollmentDeposit"></div>
              </div>
              <div class="flex justify-between  px-4 py-5 sm:px-6">
                <div class="w-1/2">
                  <p class="text-base">Application fee</p>
                </div>
                <div class="font-bold text-sm" x-text="applicationFee"></div>
              </div>
              <div class="py-4 sm:gap-4 sm:py-5 sm:px-6">
                <div class="py-4">
                  <p class="text-xs text-center">Have questions about our programs?</p>
                  <p class="text-xs text-center"><a class="underline" href="https://shiningmountainwaldorf.org/contact-us/">Contact us to speak with an advisor</a>.</p>
                  <a href="https://shiningmountainwaldorf.myschoolapp.com/app#login/apply" target="_blank" class="block text-center text-white bg-blue-500 rounded-md py-2 px-4 mt-4 hover:bg-blue-600">Start your application online today</a>
                  <p class="text-xs text-center mt-4"><a class="underline" href="https://shiningmountainwaldorf.org/admissions/tuition-assistance/">Learn more about our Tuition Assistance program</a></p>
                </div>
              </div>
            </dl>
          </div>
        </div>



        <div class="border-t border-gray-300 py-4">


          <div class="flex justify-between mb-4">

          </div>
          <div class="flex justify-between mb-4">

          </div>
        </div>

      </div>
    </div>



  </div>

</main>